<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!--<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/orkney" type="text/css" />-->
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/linux-libertine" type="text/css" />
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/linux-biolinum" type="text/css" />
<link href="https://fonts.cdnfonts.com/css/mountains-of-christmas?styles=20467" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oregano:ital@0;1&display=swap"
    rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap"
    rel="stylesheet">


<link rel="shortcut icon" type="image/png" href="../../assets/images/JustFace.png">

<!-- end custom head snippets -->