<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/linux-libertine" type="text/css" />
<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/linux-biolinum" type="text/css" />
<link href="https://fonts.cdnfonts.com/css/mountains-of-christmas?styles=20467" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="../../assets/images/JustFace.png">

<!-- end custom head snippets -->